:root {
  font-size: 16px;
  font-family: "Atkinson Hyperlegible", sans-serif;

  --primary-color: #3fae29;
  --secondary-color: #00615B;
  --grey-100: rgb(238, 238, 238);
}

html {
  max-width: 700px;
}

body {
  font-size: 1.2rem;
  overflow-x: auto;
  padding-left: 2rem;
}

a[href]:is(:focus, :hover) {
  outline: 3px solid black;
}

aside.note {
  border: solid 1px var(--primary-color);
  border-left: solid 10px var(--primary-color);
  padding: 1.25em 1em 0 1em ;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Huomio";
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
  }
  

}

code {
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: var(--grey-100);
}

pre {
  border: 1px dashed var(--secondary-color);
  background-color: var(--grey-100);
  position: relative;
  padding-top: 1em;
  overflow-x: scroll;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "MathML";
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
  }
}

.p-block {
  border: 1px solid var(--secondary-color);
  position: relative;
  padding: 2em 1em 0 1em;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "p block";
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
  }
}

.text-block {
  border: 1px solid var(--secondary-color);
  position: relative;
  padding: 2em 1em 1em 1em;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "text block";
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
  }
}

.inline-text {
    --accent-color: rgb(50, 24, 178);
    border: 3px solid var(--accent-color);
    position: relative;
    padding-left: 5.5em;

    &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "inline text";
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--accent-color);
  }
}

.math-block {
  border: 1px solid var(--secondary-color);
  position: relative;
  padding-top: 2em;
  margin-top: 0.25em;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "math block";
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
  }
}

.write-as-is {
  border: 1px dashed black;
  padding: 1em;
}

details {
  border: 3px solid var(--primary-color);
  width: fit-content;
  padding: 0.5em;
  margin-block-start: 1em;
}

blockquote {
  border-left: 4px solid #00615B;
  padding: 0.5em;
  background-color: #eeffea;
}

blockquote > * {
  margin-top: 0;
}

math[display="block"] {
  margin-top: 1em;
}

strong.yellow {
  background-color: yellow;
}