:root {
  font-size: 16px;
  font-family: "Atkinson Hyperlegible", sans-serif;

  --primary-color: #3fae29;
  --grey-100: rgb(238, 238, 238);
}

html {
  max-width: 700px;
}

body {
  font-size: 1.2rem;
  overflow-x: auto;
  padding-left: 2rem;
}

a[href]:is(:focus, :hover) {
  outline: 3px solid black;
}

.note {
  border: solid 1px var(--primary-color);
  border-left: solid 10px var(--primary-color);
  padding: 0 1rem;
}

code {
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: var(--grey-100);
}

pre {
  border: 1px dashed black;
  background-color: var(--grey-100);
}

.write-as-is {
  border: 1px dashed black;
  padding: 1em;
}

details {
  border: 3px solid var(--primary-color);
  width: fit-content;
  padding: 0.5em;
}